# omit datasets
*.csv
*.corpus
*.txt

# omit output courses
# courses/*

# omit manually hidden files instead
*.hide*

# omit notebook checkpoints
**.ipynb_checkpoints

# omit notebooks folder while we're at it
notebooks/*
